/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #121212; /* Very dark background */
    color: #f4f4f4;
    line-height: 1.6;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    color: #fff;
    font-weight: bold;
}

a {
    color: #00bfff; /* Neon Blue */
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

a:hover {
    color: #ff00ff; /* Neon Purple */
    transform: scale(1.1);
}

/* Hero Section */
#hero {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #00bfff; /* Neon Blue */
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0px 0px 15px rgba(0, 191, 255, 0.7);
}

#hero p {
    font-size: 1.5rem;
    color: #e6e6e6;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

/* About Section */
#about {
    text-align: center;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#about p {
    font-size: 1.2rem;
    color: #d0d0d0;
    line-height: 1.7;
}

/* Music Section */
#music {
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#music h2 {
    font-size: 2rem;
    color: #ff00ff; /* Neon Purple */
    margin-bottom: 20px;
}

.music-links ul {
    list-style-type: none;
    padding: 0;
}

.music-links li {
    margin-bottom: 15px;
}

.music-links li a {
    font-size: 1.2rem;
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.music-links li a:hover {
    background-color: #ff00ff; /* Neon Purple */
    color: #fff;
    transform: scale(1.05);
}

/* Contact Section */
#contact {
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#contact p {
    font-size: 1.1rem;
    color: #d0d0d0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #b3b3b3;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: 1rem;
}
